.table {
  table-layout: fixed;
  background-color: #393939;
  max-height: 600px;
  overflow-y: scroll;
}

.table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.table tbody > tr > td {
  text-align: right;
}

.table tbody > tr > td:first-child {
  text-align: left;
}

.title {
  background-color: #222222;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: rgba(25, 125, 81, 1);
  line-height: 1.2;
  border: 2px solid #393939;
  text-align: center;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(25, 125, 81, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(25, 125, 81, 0.4); 
}