body {
  display: flex;
  background: #e4e4e4;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
